<style>


	.event-image {
		position: relative;
		width: 100%; /* for IE 6 */
	}

	.event-text {
		position: absolute;
		text-align: left;
		bottom: 0px;
		left: 20px;
		width: 100%;
		color: white;
		font-size:50px;
	}

	.event-title {
		position: absolute;
		text-align: left;
		bottom: 70px;
		left: 10px;
		width: 100%;
		font-size:200%;
		color: white;
		text-shadow: 0 1px 0 black;
	}
	.event-group {
		position: absolute;
		text-align: left;
		bottom: 40px;
		left: 10px;
		width: 100%;
		font-size:150%;
		color: white;
	}

	.event-address {
		position: absolute;
		text-align: left;
		bottom: 0px;
		left: 0px;
		width: 100%;
		color: white;
		text-shadow: 0 1px 0 black;
	}



</style>

<ion-view title="Test">
	<ion-content class="has-header">

		<div class="card group-header">
			<div class="item item-image event-image">
				<img src="img/themes/coffee-400.jpg" >
				<div class="event-title"><b>Morning Coffee</b></div>
				<div class="event-group">@french-brewer</div>
			</div>
			<div class="item item-text-wrap">
				<i class="icon ion-android-calendar calm"></i><i> Start in 2 hours</i>
				<br>
				<i class="icon ion-location calm"></i><i>  Blue Bottle, Market Street</i>
			</div>
		</div>

		<div class="card group-header">
			<div class="item item-image image">
				<img src="img/themes/video-game-400.jpg" >
				<div class="event-title"><b>Fifa</b></div>
				<div class="event-group">@soccer-force</div>
			</div>
			<div class="item item-text-wrap">
				<i class="icon ion-android-calendar calm"></i><i> Start in 2 hours</i>
				<br>
				<i class="icon ion-location calm"></i><i>  Blue Bottle, Market Street</i>
			</div>
		</div>

		<div class="card group-header">
			<div class="item item-image image">
				<img src="img/themes/soccer-400.jpg" >
				<div class="event-title"><b>Sunday game</b></div>
				<div class="event-group">@soccer-force</div>
			</div>
			<div class="item item-text-wrap">
				<i class="icon ion-android-calendar calm"></i><i> Start in 2 hours</i>
				<br>
				<i class="icon ion-location calm"></i><i>  Blue Bottle, Market Street</i>
			</div>
		</div>


</ion-content>

</ion-view>
