<ion-popover-view>
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" ng-click="repeatEvent(event)">
                <i class="icon ion-loop"></i>
                Repeat
            </a>
            <a class="item item-icon-left" ng-click="openEditEvent(event)">
                <i class="icon ion-edit"></i>
                Edit
            </a>
            <a class="item item-icon-left" ng-click="addSurvey(event)">
                <i class="icon ion-ios-list-outline"></i>
                Add Survey
            </a>
            <a class="item item-icon-left"  ng-click="deleteEvent(event)">
                <i class="icon ion-trash-a"></i>
                Delete
            </a>
            <a class="item item-icon-left"  ng-click="generateParticipations(event)">
                <i class="icon ion-gear-b"></i>
                Generate participations
            </a>
        </div>
    </ion-content>
</ion-popover-view>
