<ion-popover-view>
    <ion-content>
        <div class="list">
            <a class="item item-avatar" ng-click="goToUser()">
                <img ng-src="img/users/{{user.username}}.jpg" class="sponsor-avatar owner-avatar">
                <h2>{{user.profile.name}}</h2>
                <p>{{user.username}}</p>
            </a>
            <a class="item" ng-click="signout()">
                Sign-out
            </a>
            <a class="item" ng-click="test()">
                Test
            </a>
        </div>
    </ion-content>
</ion-popover-view>
