<ion-popover-view>
    <ion-content>
        <div class="list">
            <a class="item item-avatar" ng-click="goToUser()">
                <img ng-src="{{userInfo.user.profile.picture.url}}" class="sponsor-avatar owner-avatar">
                <h2>{{userInfo.user.profile.name}}</h2>
                <p>{{userInfo.user.username}}</p>
            </a>
            <a class="item" ng-click="signout()">
                Sign-out
            </a>
            <a class="item" ng-click="test()">
                Test
            </a>
            <a class="item" ng-click="sanitize()">
                Sanitize
            </a>
        </div>
    </ion-content>
</ion-popover-view>
