<ion-popover-view>
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" ng-click="openEditGroup(group)">
                <i class="icon ion-edit"></i>
                Edit
            </a>
            <a class="item item-icon-left" ng-click="openCreateEvent(group)">
                <i class="icon ion-calendar"></i>
                Create Event
            </a>
            <a class="item item-icon-left"  ng-click="deleteGroup(group)">
                <i class="icon ion-trash-a"></i>
                Delete
            </a>
        </div>
    </ion-content>
</ion-popover-view>
