<ion-view title="Sponsors" hide-back-button="false">

	<ion-nav-buttons side="right">
		<!--
		<a class="button button-clear" ui-sref="event-sponsors-edit({ eventId: event.id })" ng-show="canEdit(event)">Edit</a>
		-->
	</ion-nav-buttons>

	<ion-content class="has-header">
		<div class="list">
			<a class="item item-avatar" ui-sref="user({username: owner.username})">
				<img src="" ya-avatar avatar="owner" size="50" class="owner-avatar"/>
				<h2>{{owner.profile.name}}</h2>
				<p><i class="icon ion-location"> {{owner.profile.city}}, {{owner.profile.country}}</i></p>
			</a>
			<a class="item item-avatar" ng-repeat="user in sponsors"
			   ui-sref="user({username: user.username})">
				<img src="" ya-avatar avatar="user" size="50"/>
				<h2>{{user.profile.name}}</h2>
				<p><i class="icon ion-location"> {{user.profile.city}}, {{user.profile.country}}</i></p>
			</a>
		</div>

	</ion-content>

</ion-view>