
<ion-view title="Events" hide-back-button="false">

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-more" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>

    <ion-content class="has-header">
        <ion-refresher on-refresh="doRefresh()" spinner="spiral"></ion-refresher>

        <div class="item" style="text-align: center" ng-show="events.length <= 0">
            <br>
            <br>
            <br>
            <br>
            There is no event yet!
            <a class="button icon-left ion-plus button-calm button-block" ui-sref="app.event-new">Create a New Event</a>
            <br>
            <br>
            <br>
            <br>

        </div>
        <ion-list class="list">
            <ion-item class="item-divider calm" ng-show="timeline.todaySize > 0"> Today's Events </ion-item>
            <div ng-repeat="event in timeline.today track by event.id">
                <div ng-include data-src="'templates/events/partial/event-list-item.html'"></div>
            </div>
            <ion-item class="item-divider calm" ng-show="timeline.upcomingSize > 0"> Upcoming Events </ion-item>
            <div ng-repeat="event in timeline.upcoming track by event.id">
                <div ng-include data-src="'templates/events/partial/event-list-item.html'"></div>
            </div>
            <ion-item class="item-divider" ng-show="timeline.pastSize > 0"> Past Events </ion-item>
            <div ng-repeat="event in timeline.past track by event.id">
                <div ng-include data-src="'templates/events/partial/event-list-item.html'"></div>
            </div>
        </ion-list>


    </ion-content>


</ion-view>
